<div class="testbox">
  <form [formGroup]="consultaPublicacaoForm" (ngSubmit)="onSubmit()">
    <div class="banner">
      <h1>Consulta de Publicação</h1>
    </div>
    <div class="item">
      <input
        id="ISBN"
        type="text"
        name="ISBN"
        formControlName="ISBN"
        placeholder="ISBN"
        required
      />
    </div>
    <div class="item">
      <input
        id="titulo"
        type="text"
        name="titulo"
        formControlName="titulo"
        placeholder="Título"
        required
      />
    </div>
    <div class="change-mode">{{ message }}</div>
    <div class="btn-block">
      <button type="submit" [disabled]="loading" href="/">
        Consultar Publicação
      </button>
    </div>
  </form>
  <table *ngIf="publicacao" border>
    <thead>
      <tr>
        <th>Título</th>
        <th>Status</th>
        <th>Preco</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exemplar of publicacao.exemplares">
        <td>{{ publicacao.Titulo }}</td>
        <td>{{ exemplar.status }}</td>
        <td>{{ exemplar.Preco }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading *ngIf="loading"></app-loading>
