<div class="testbox">
  <form [formGroup]="exemplarForm" (ngSubmit)="onSubmit()">
    <div class="banner">
      <h1>Cadastro de Exemplar</h1>
    </div>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="formatPublicacoesInputName.bind(this)"
    >
      <mat-option
        *ngFor="let publicacao of publicacoes"
        [value]="publicacao.ISBN"
      >
        {{ publicacao.Titulo }} - {{ publicacao.Autor }}
      </mat-option>
    </mat-autocomplete>
    <div class="item">
      <input
        id="Numero"
        type="text"
        placeholder="Numero do Exemplar"
        formControlName="Numero"
        required
      />
    </div>
    <div class="item">
      <input
        id="ISBN"
        type="text"
        placeholder="Publicação"
        matInput
        formControlName="ISBN"
        [matAutocomplete]="auto"
        required
      />
    </div>
    <div class="item">
      <input
        id="Preco"
        type="number"
        name="Preco"
        formControlName="Preco"
        placeholder="Preço"
        required
      />
    </div>
    <div class="change-mode">{{ createMessage }}</div>
    <div class="btn-block">
      <button type="submit" [disabled]="loading" href="/">
        Criar Exemplar
      </button>
    </div>
  </form>
</div>
<app-loading *ngIf="loading"></app-loading>
