<div class="testbox">
  <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
    <div class="banner">
      <h1>Cadastro de Funcionário</h1>
    </div>
    <div class="item">
      <input
        id="nome"
        type="text"
        name="nome"
        formControlName="nome"
        placeholder="Nome"
        required
      />
    </div>
    <div class="item">
      <input
        id="email"
        type="email"
        name="email"
        formControlName="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="item">
      <label for="funcao">Função</label>
      <select id="funcao" name="funcao" formControlName="funcao">
        <option value="funcionario">Funcionario</option>
        <option value="gerente">Gerente</option>
      </select>
    </div>
    <div class="change-mode">{{ message }}</div>
    <div class="btn-block">
      <button type="submit" [disabled]="loading" href="/">Criar</button>
    </div>
  </form>
</div>
<app-loading *ngIf="loading"></app-loading>
